/*----тема с главным вопросом-------*/
.search {
  max-width: 512px;
}
.search__title {
  margin: 0 16px;
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  padding-top: 30px;
}
.search__text {
  font-size: 20px;
  line-height: 26px;
  margin: 16px 16px 0;
}
.info {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 544px;
  min-width: 288px;
  padding-bottom: 32px;
}
.info__input {
  margin: 0 16px;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  max-width: 544px;
  min-width: 250px;
  height: 56px;
  border: 1px solid #d1d2d6;
  box-sizing: border-box;
  border-radius: 100px;
}
.info__btn {
  margin: 16px 16px 0;
  background-color: #2f71e5;
  border: 1px solid #2f71e5;
  max-width: 544px;
  min-width: 250px;
  height: 56px;
  box-sizing: border-box;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
@media screen and (min-width: 545px) and (max-width: 729px) {
  /*----тема с главным вопросом-------*/
  .search {
    max-width: 1104px;

  }
  .search__title {
    margin: 0 auto;
    padding-top: 40px;
    min-width: 400px;
    max-width: 400px;
  }
  .search__text {
    font-size: 18px;
    line-height: 24px;
    margin: 16px auto 0;
    max-width: 400px;
    min-width: 400px;
  }
  .info {
    margin: 41px auto 0;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 400px;
    min-width: 390px;
    padding-bottom: 0;
    position: relative;
  }
  .info__input {
    margin: 0;
    max-width: 300px;
    min-width: 300px;
    border: 1px solid #d1d2d6;
    box-sizing: border-box;
    border-radius: 100px;
  }
  .info__btn {
    margin: 0;
    max-width: 160px;
    min-width: 160px;
    color: #fff;
    position: absolute;
    right: 0px;
  }
}
@media screen and (min-width: 730px) and (max-width: 1104px) {
  .search {
    max-width: 1104px;

  }
  .search__title {
    margin: 0 auto;
    padding-top: 40px;
    min-width: 400px;
    max-width: 400px;
  }
  .search__text {
    font-size: 18px;
    line-height: 24px;
    margin: 16px auto 0;
    max-width: 400px;
    min-width: 400px;
  }
  .info {
    margin: 41px auto 0;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 400px;
    min-width: 390px;
    padding-bottom: 0;
    position: relative;
  }
  .info__input {
    margin: 0;
    max-width: 300px;
    min-width: 300px;
    border: 1px solid #d1d2d6;
    box-sizing: border-box;
    border-radius: 100px;
  }
  .info__btn {
    margin: 0;
    max-width: 160px;
    min-width: 160px;
    color: #fff;
    position: absolute;
    right: 0px;
  }
  .info__input:hover .info__btn {
    background-color: #347eff;
    border: 1px solid #347eff;
  }
  .info__btn:active {
    background-color: #2a65cc;
    border: 1px solid #2a65cc;
  }
}
@media screen and (min-width: 1105px) {
  /*Голова*/

  .search {
    max-width: 1440px;

  }
  .search__title {
    margin: 0 auto;
    font-size: 60px;
    line-height: 64px;
    padding-top: 80px;
    min-width: 608px;
    max-width: 608px;
  }
  .search__text {
    font-size: 18px;
    line-height: 24px;
    margin: 32px auto 0;
    min-width: 608px;
    max-width: 608px;
  }
  .info {
    margin: 64px auto 0;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 608px;
    min-width: 607px;
    padding-bottom: 80px;
    position: relative;
  }
  .info__input {
    margin: 0;
    max-width: 504px;
    min-width: 503px;
    border: 1px solid #d1d2d6;
    box-sizing: border-box;
    border-radius: 100px;
  }
  .info__btn {
    margin: 0;
    max-width: 168px;
    min-width: 168px;
    color: #fff;
    position: absolute;
    right: 0px;
  }
  .info__input:hover .info__btn {
    background-color: #347eff;
    border: 1px solid #347eff;
  }
  .info__btn:active {
    background-color: #2a65cc;
    border: 1px solid #2a65cc;
  }
  .info__btn :hover {
    cursor: url(../../../images/Pointer.png);

  }
  .info__input:hover {
    cursor: url(../../../images/Pointer.png);
  }
  .result__btn {
    cursor: url(../../../images/Pointer.png);
  }
}
